@model Hst.Model.Organisation
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@if (ViewBag.Message != null)
{

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Edit Organisation</h2>
        <hr />
        <div class="container-fluid" style="margin: auto; width: 50%; padding: 10px;">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.O_ID)

                    <div class="form-group">
                        <label class="control-label col-md-2">Name:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.O_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.O_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Address:</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.O_Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.O_Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">State:</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.O_StateID, ViewBag.State as List<SelectListItem>, "---Select---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.O_StateID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">City:</label>
                        <div class="col-md-10">
                            <select asp-for="O_CityID" class="form-control">Please Select</select>
                            @Html.ValidationMessageFor(model => model.O_CityID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "OrganisationList")
</div>


<script>
    $(document).ready(function () {
        $("#O_StateID").change(function () {
            $.get("/Organisation/GetCityList", { StateId: $("#O_StateID").val() }, function (data) {
                $("#O_CityID").empty();
                $("#O_CityID").append("<option value=0>Please Select</option>");
                $.each(data, function (index, value) {

                    $("#O_CityID").append("<option value='" + value.c_ID + "'>" + value.c_Name + "</option>")
                })
            })
        })
    })
</script>