@using Hst.Model
@model IEnumerable<Organisation>
@{
    ViewData["Title"] = "OrganisationList";
}


<h2>OrganisationList</h2>

@*@section Scripts
    {
        <script src="~/js/NewFolder/delete.js"></script>
    }*@



<p class="text-right">
    @Html.ActionLink("CreateNew", "Create", "Organisation", null, null)
</p>
@if (ViewBag.Message != null)
{

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}


<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            StateName
        </th>
        <th>
            CityName
        </th>

        <th></th>
    </tr>


   
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("Delete", "Organisation", new { id = item.O_ID }))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.O_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.O_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Organisation", new { id = item.O_ID }) |

                        <input type="submit" value="Delete" />

                    </td>
                </tr>

            }
        }

    }

    else
    {
        <td colspan="4" class="text-center"><b>No Data Available.Please Add Data By Click On Create Button</b></td>
    }
</table>     